.messages {
	padding: 5% 0;
	overflow: auto;
	flex: auto;
}

.userTyping {
	font-size: 0.8em;
	border: 1px solid rgb(238, 233, 233);
	padding: 1em;
	width: 20%;
	border-radius: 50px;
	margin-left: 30px;
	margin-top: 10px;
}
